.kingsleybackground {
    z-index: -3;
    background-color: #22292f; 
    width: 100%;
    height: 100% !important;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../kingsley/img/kingsley.svg');
  }

/* Squared Buttons */
  .btn-squared{
    color: transparent;
    box-shadow: inset 0 0 10px #0000006b;
    width: 4vh;
    height: 4vh;
    border-width: 0.2vh;
    border-radius: 10%;
    border-color: white;

    font-size: 0.75vh;
    padding: 1px 1px;
    margin: auto;
    text-align: center;
    text-wrap: balance;
    overflow-wrap: break-word;
    color: transparent;
  }
  .btn-squared:hover{
    color: #ffff;
    text-decoration: none;
    text-shadow:1px 1px 10px #000000, 1px 1px 10px #000000;
  }

  .btn-squared:focus{
    color: #ffff;
    text-decoration: none;
    text-shadow:1px 1px 10px #000000, 1px 1px 10px #000000;
  }


/* Round Buttons */
.btn-circle{
  color: transparent;
  box-shadow: inset 0 0 10px #0000006b;
  width: 1.8rem;
  height: 1.8rem;
  border-width: 0.2vh;
  border-radius: 100%;
  border-color: white;
}


/* Button Colors */
  .tuscanblue{ 
    background-color: #005b6d;
  }
    .masaired{
    background-color: #8A210C;
  }
  .warwickgreen{
    background-color: #4B6413;
  }
  .lincolngreen{
    background-color: #3E4428;
  }
  .arcticwhite{
    background-color: #DEE7E4;
  }
  .sandglow{
    background-color: #BC8236;
  }
  .russetbrown{
    background-color: #442719;
  }
  .saharadust{
    background-color: #A19A86;
  }

  .deepsilver{ 
    background: rgb(182,182,182);
background: -moz-linear-gradient(155deg, rgba(182,182,182,1) 0%, rgba(255,255,255,1) 50%, rgba(115,115,115,1) 100%);
background: -webkit-linear-gradient(155deg, rgba(182,182,182,1) 0%, rgba(255,255,255,1) 50%, rgba(115,115,115,1) 100%);
background: linear-gradient(155deg, rgba(182,182,182,1) 0%, rgba(255,255,255,1) 50%, rgba(115,115,115,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b6b6b6",endColorstr="#737373",GradientType=1);
  }
  .gunmetalgrey{
    background: rgb(33,33,33);
background: -moz-linear-gradient(155deg, rgba(33,33,33,1) 0%, rgba(186,186,186,1) 50%, rgba(27,27,27,1) 100%);
background: -webkit-linear-gradient(155deg, rgba(33,33,33,1) 0%, rgba(186,186,186,1) 50%, rgba(27,27,27,1) 100%);
background: linear-gradient(155deg, rgba(33,33,33,1) 0%, rgba(186,186,186,1) 50%, rgba(27,27,27,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#212121",endColorstr="#1b1b1b",GradientType=1);
  }
  .darkestblack{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(155deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(155deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 50%, rgba(0,0,0,1) 100%);
    background: linear-gradient(155deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 50%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  }

  /* Button Icons */
.btn-icons{
  color: white;
  width: 3rem;
  height: 3rem;
  border-width: 0.2vh;
  border-radius: 100%;
  border-color: rgba(255, 255, 255, 0.432);
  box-shadow: inset 0 0 10px #0000006b;
}

/* Hotspots */
.hotspot{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  --min-hotspot-opacity: 0;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.hotspot[slot="hotspot-wheel"]{
  --min-hotspot-opacity: 0;
  background-color: rgb(255, 255, 255);
}

.annotation{
  background-color: white;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  margin:20px
}
/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}