/* W2F STYLES */
body {
    font-family: 'Red Hat Text', sans-serif;
}

.w2f-footer-dark {
    background-color: #181818 !important;
    color: white !important;
}

.w2f-footer-dark a {
    color: white !important;
}

.w2f-footer-dark li {
    color: white !important;
}

.configtitles {
        border: 1px solid rgb(128, 128, 128) !important;
}


.nav-link:focus, .nav-link:hover {
    color: #f5891f !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: #f5891f !important;
}

.text-success {
    color: #f5891f !important;
}

.btn-success {
  background-color: #f5891f !important;
  border-color: #f5891f !important;
  color: white !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:focus {
  background-color: #ffbd72 !important;
  border-color: #d97706 !important;
  color: black !important;
  box-shadow: none !important;
}

.btn-success:disabled,
.btn-success.disabled {
  background-color: #f5891f !important;
  border-color: #f5891f !important;
  color: #cccccc !important;
  opacity: 0.65;
  pointer-events: none;
}

/* OFFSCREEN PANEL NAVIGATION */
.offcanvas-header .btn-close {
    background-image: url(../w2f/icons/x-square.svg);
}

h5.offcanvas-title {
  font-family: var(--secondaryfont);
  font-size: .65rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #aeaeae;
  margin-bottom: 20px;
}

.close-offscreen-nav-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
  width: 0.6em;
  height: 0.6em;
  color: #000;
  opacity: 1;
}


  .close-offscreen-nav-panel:focus {
    outline: 0px none #fff !important;
    box-shadow: none !important;
  }

  .close-offscreen-nav-panel:focus, .offcanvas-header .btn-close:focus {
    outline: none;
    box-shadow: none;
  }

.offcanvas-body {
  padding: 30px;
}

  .offcanvas-body ul {
    list-style: none;
    margin: 20px 0 25px 0px;
  }
  
  .offcanvas-body ul {
    list-style: none;
  }

.offcanvas-lg-links {
  font-size: 1.2rem;
}

.offcanvas-body ul.offcanvas-lg-links li {
  margin-bottom: 20px;
  font-weight: 400;
}

.offcanvas-sm-links {
  font-size: 1rem;
}

.offcanvas-body ul.offcanvas-sm-links li {
  margin-bottom: 15px;
  font-weight: 300;
}

.offcanvas-links {
  font-family: var(--primaryfont);
  font-size: .76rem !important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.offcanvas-body ul.offcanvas-links li {
  margin-bottom: 18px;
  transition: all ease-in-out 0.3s;
}

  .offcanvas-body ul.offcanvas-links li:hover {
    padding-left: 4px;
  }

hr.offcanvas-divider {
  height: 0;
  overflow: hidden;
  opacity: 1;
  border-top: 1px solid #dfdfdf;
}

.offcanvas-icon {
  max-width: 40px;
}

.offcanvas-brand {
  max-width: 125px;
}

.offcanvas {
  transition: all ease-in-out 0.3s;
}

.offcanvas-body, .offcanvas-header {
  opacity: 0;
  transform: translateX(15px);
  transition-duration: .24s;
  transition-delay: 0s;
}

.offcanvas.show .offcanvas-body, .offcanvas.show .offcanvas-header {
  opacity: 1;
  transform: translateX(0);
  transition-duration: .35s;
  transition-delay: 0.01s;

}

.offcanvas a {
  text-decoration: none;
  color: #000;
  outline: 0;
}

.offcanvas-links {
    padding-left: 0px;
}

.list-unstyled li {
  line-height: 20px;
  color: #444;
  margin-bottom: 25px;
  font-size: 16px;
}


/* END OFFSCREEN PANEL NAVIGATION */

/* TABS */
* Tabs */

.nav-tabs .nav-link.active, .nav-tabs .nav-link {
  background-color: #fff;
  color: #000;
  font-size: 11px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

  .nav-tabs .nav-link.active {
    color: #f5891f;
    border-bottom: solid 1.5px #f5891f;
    background-color: black;
  }

/* ACCORDIAN */

/* Body */

.accordion .accordion-item:first-child {
  border-top: 0px;
}

.accordion-button {
  font-weight: 600;
}

.config-menu .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.config-menu .accordion-button:not(.collapsed) {
  color: #000;
  background-color: #f7f7f7;
  box-shadow: none;
}

.config-menu .accordion-button:focus,
.config-menu .accordion-button.focus {
  box-shadow: none;
}

.accordion-body {
  background-color: #f7f7f7;
}

  .accordion-body .alert {
    font-weight: 500;
  }
  /* END ACCORDIAN */

  /* CONFIGURATOR STYLES */
    .page-item.disabled .page-link {
                        background-color: #dadada;
                        color: #fff;
                        border: none;
                        margin: 0 2px;
                    }

                    .page-item .page-link {
                        background-color: #ffffff;
                        color: #000000;
                        border: none;
                        margin: 0 2px;
                    }

                    .page-item.active .page-link {
                        background-color: #f5891f;
                        border-color: #f5891f;
                        color: #fff;
                    }

                    .page-item .page-link:focus {
                        border-color: #f5891f;
                        color: #fff;
                        outline: none;
                        box-shadow: 0 0 0 0.2rem rgba(245,137,31,.25);
                    }
/* Squared Buttons V2 */

.btn-squared-v2 {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #00000005, 4px 4px 18px #00000026;
  transition: box-shadow .3s;
  border: solid 1.5px #fff !important;
  padding: 0.7rem;
}

.btn-squared-v2:hover,
.btn-squared-v2:focus {
  box-shadow: 0 0 0 1px #00000005,6px 6px 13px #00000029;
  transition: box-shadow .3s;
}

.btn-squared-v2.active,
.btn-squared-v2:active {
  border-color: #d97706 !important;
  box-shadow: 0 0 0 1px #d97706 inset, 0 0 0 1px #00000005;
  transition: box-shadow .3s;
}
/* Label */

.btn-squared-v2 .btn-label {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 18px;
  left: 0px;
  font-size: 0.55rem;
  z-index: 1;
  background-color: transparent;
  color: #000;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.config-menu .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #000000;
    border-color: #525252;
        border-bottom: solid 2px #f5891f;
    font-weight: bold;
}

.config-menu .card-header {
    border-bottom: solid 1.5px #f5891f;
    background-color: black;
}