/* Custom Fonts */
@font-face {
  font-family: 'Metropolis-ExtraBold';
  src:url('https://archiebattley.com/kingsley/fonts/Metropolis-ExtraBold.ttf.woff') format('woff'),
      url('https://archiebattley.com/kingsley/fonts/Metropolis-ExtraBold.ttf.svg#Metropolis-ExtraBold') format('svg'),
      url('https://archiebattley.com/kingsley/fonts/Metropolis-ExtraBold.ttf.eot'),
      url('https://archiebattley.com/kingsley/fonts/Metropolis-ExtraBold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}


html {
  overflow: scroll;
  overflow-x: hidden;
  }
  ::-webkit-scrollbar {
  width: 0px;
  }

body, html {
  background-color: rgb(44, 44, 44);
  height: 100% !important;
}

.kingsleytopnav {
  z-index: 1;
  position: relative;
  bottom: 100%;
  background-color: #22292f;
}
  

.kingsleybackground {
  z-index: -3;
  background-color: rgb(34 41 47); 
  width: 100%;
  height: 100% !important;
  background-size: 20%;
  background-position: center;
  background-repeat: repeat;
  background-image: url('../img/kingsley.svg');
}

.kingsleyforegroundtitle{
  z-index: 1;
  position: relative;
  bottom: 90%;
  }
  

.h1, h1 {
  font-size: 1.8rem;
  font-family: "Metropolis-ExtraBold" !important;
}
body {
  font-family: "Poppins";
  color: #ffffff;
  font-size: 1.2rem;
}

.text-small {
 font-size: 0.8rem;
}

.text-shadowed {
	text-shadow: 1px 1px 5px black;
}

section {
  height: 100%;
}

/* ModelViewer */
model-viewer{

  width:100%;
  height: 100% !important;
  margin: 0 auto;
  --poster-color: "rgba(0, 0, 0, 0)";
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

/* If the screen size is 2000px wide or more, set the font-size of <div> to 3vw */
@media screen and (min-width: 2000px) {
  .homepagetitle {
    font-size: 3vw !important;
  }
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 5vw */
@media screen and (min-width: 601px) {
  .homepagetitle {
    font-size: 6vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 10vw */
@media screen and (max-width: 600px) {
  .homepagetitle {
    font-size: 10vw;
  }
}

/* Vertical Text Center */

.verticalcenter {
  display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

/* Vertical Text Center Finish */

.noselect {-webkit-touch-callout: none; /* Safari */
-webkit-user-select: none; /* Chrome */     
   -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; 
}

/* Navbar Syles */
.navbar-toggler {
  font-size: 2rem !important;
}

/* Squared Buttons */
  .btn-squared{
    color: transparent;
    box-shadow: inset 0 0 10px #0000006b;
    width: 4vh;
    height: 4vh;
    border-width: 0.2vh;
    border-radius: 10%;
    border-color: white;

    font-size: 0.75vh;
    padding: 1px 1px;
    margin: auto;
    text-align: center;
    text-wrap: balance;
    overflow-wrap: break-word;
    color: transparent;
  }
  .btn-squared:hover{
    color: #ffff;
    text-decoration: none;
    text-shadow:1px 1px 10px #000000, 1px 1px 10px #000000;
  }

  .btn-squared:focus{
    color: #ffff;
    text-decoration: none;
    text-shadow:1px 1px 10px #000000, 1px 1px 10px #000000;
  }


/* Round Buttons */
.btn-circle{
  color: transparent;
  box-shadow: inset 0 0 10px #0000006b;
  width: 1.8rem;
  height: 1.8rem;
  border-width: 0.2vh;
  border-radius: 100%;
  border-color: white;
}


/* Button Colors */
  .tuscanblue{ 
    background-color: #005b6d;
  }
    .masaired{
    background-color: #8A210C;
  }
  .warwickgreen{
    background-color: #4B6413;
  }
  .lincolngreen{
    background-color: #3E4428;
  }
  .arcticwhite{
    background-color: #DEE7E4;
  }
  .sandglow{
    background-color: #D17E27;
  }
  .russetbrown{
    background-color: #442719;
  }
  .saharadust{
    background-color: #a1987e;
  }

  .deepsilver{ 
    background: rgb(182,182,182);
background: -moz-linear-gradient(155deg, rgba(182,182,182,1) 0%, rgba(255,255,255,1) 50%, rgba(115,115,115,1) 100%);
background: -webkit-linear-gradient(155deg, rgba(182,182,182,1) 0%, rgba(255,255,255,1) 50%, rgba(115,115,115,1) 100%);
background: linear-gradient(155deg, rgba(182,182,182,1) 0%, rgba(255,255,255,1) 50%, rgba(115,115,115,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b6b6b6",endColorstr="#737373",GradientType=1);
  }
  .gunmetalgrey{
    background: rgb(33,33,33);
background: -moz-linear-gradient(155deg, rgba(33,33,33,1) 0%, rgba(186,186,186,1) 50%, rgba(27,27,27,1) 100%);
background: -webkit-linear-gradient(155deg, rgba(33,33,33,1) 0%, rgba(186,186,186,1) 50%, rgba(27,27,27,1) 100%);
background: linear-gradient(155deg, rgba(33,33,33,1) 0%, rgba(186,186,186,1) 50%, rgba(27,27,27,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#212121",endColorstr="#1b1b1b",GradientType=1);
  }
  .darkestblack{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(155deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(155deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 50%, rgba(0,0,0,1) 100%);
    background: linear-gradient(155deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 50%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  }

  /* Button Icons */
.btn-icons{
  color: #ffffff8a;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  font-size: .6rem;
  padding: 0 !important;
  border-width: 0.2vh;
  border-radius: 100%;
  border-color: rgba(255, 255, 255, 0.432);
  box-shadow: inset 0 0 10px #0000006b;
}

/* Hotspots */
.hotspot{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  --min-hotspot-opacity: 0;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.hotspot[slot="hotspot-wheel"]{
  --min-hotspot-opacity: 0;
  background-color: rgb(255, 255, 255);
}

.annotation{
  background-color: white;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  margin:20px;
  font-size: .8rem;
}
/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}

